.left-file-line-header
  position relative
  width 100%
  height 30px
  white-space nowrap // 不换行
  box-sizing border-box
  padding 10px 20px
  display flex
  align-items center
  cursor default // 默认小箭头

.left-file-line
  position relative
  width 100%
  height 30px
  white-space nowrap // 不换行
  box-sizing border-box
  padding 5px 40px
  display flex
  align-items center
  cursor default
.left-file-line:hover, .select-line
  background #e0e0e0
